{% block head %}
    <title> Caelestis Node 21 </title>
    <link rel="stylesheet" href="static/default.css">
{% endblock %}

{% block body %}
    Node 21 Login:<br>
    <br>
    <form method="POST">
        <div><input name="uname" type="text" minlength="8" maxlength="16" placeholder="Username" size="20"></div>
        <div><input name="passwd" type ="password" minlength="8" maxlength="16" placeholder="Password" size="20"></div>
        <div><input id="lgn" type="submit" value="Login" /></div>
    </form>
{% endblock %}
